#completedTasks {
    color: grey;
    text-decoration: line-through;
}
.itemWrapper {
    display: flex;
}
.fa-trash-alt {
    padding-left: 6px;
    color: red;
}
.delItem:hover {
    color: red;
    font-weight: bold;
}
